<%= simple_form_for @product do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <br>

    <div class="field">
        <%= f.label :price %>
        <%= f.text_field :price %>
    </div>
    <br>

    <div class="field">
        <%= f.label :category_id %>
        <%= f.select :category_id, Category.all.map {|c|[c.category, c.id]} %>
    </div>

    <br>
    <div class="actions">
        <%= f.submit 'Create Product' %>
  </div>
<% end %>