<div class="d-flex flex-row justify-content-center">
    <div class="col-md-8">
    <div class="card mt-5">
    <div class="card-body">
    <%= simple_form_for @product do |f| %>

     <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class:"form-control" %>
    </div>
    <br>

    <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class:"form-control" %>
    </div>
    <br>

    <div class="form-group">
        <%= f.label :category_id %>
        <%= f.select :category_id, Category.all.map {|c|[c.category, c.id]} %>
    </div>

    <br>
    <div class="actions">
        <%= f.submit 'Create Product', class:"btn btn-primary" %>
        <%= link_to "Back", products_path, class:"btn btn-primary" %>
    </div>
    <% end %>

    </div>
    </div>
    </div>
</div>